{% extends "base_template.twig" %}

{% block content %}

    <h3>Dashboard</h3>
    <a href="/join-group">Join group</a>
    <div>
        <ul>
            {% for group in groups %}
                <li>{{ group.name }}<=#|#=>> <a href="#">Delete</a>
                </li>
            {% else %}
                <li><em>no user found</em></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}