{% extends "base_template.twig" %}

{% block content %}

    <h3>Dashboard</h3>
    <dive>
        <h4>{{ user.firstName }}</h4>
        <a href="/join-group">Join group</a>
        <a href="/logout">logout</a>
    </dive>
    <div>
        <ul>
            {% for group in user.groups %}
                <li>{{ group.name }}<=#|#=>> <a href="#">Delete</a>
                </li>
            {% else %}
                <li><em>no user found</em></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}