{% extends "base_template.twig" %}
{% block content %}
    <div>
        <ul>
            {% for group in groups %}
                <li>{{ group.name }} <=#|#=>> <a href="/join/{{ group.Id }}">Join</a>
                </li>
            {% else %}
                <li><em>no group found</em></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}